.input {
  width: 20%;
  padding: 12px;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
  resize: vertical;
  margin-left: 2rem;
  font-size: 20px;
}
.list {
  list-style: none;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: darkblue;
}
.link:focus,
.link:hover {
  color: cornflowerblue;
}
.header {
  margin-left: 2rem;
  color: darkblue;
}
