<div>
  <nav class="nav">
    <a routerLink="" class="nav-link">Home</a>
    <a routerLink="/description" class="nav-link">Description</a>
    <a routerLink="/category" class="nav-link">Category</a>
    <a routerLink="/author" class="nav-link">Author</a>
  </nav>
  <input type="text" [(ngModel)]="artworksName" placeholder="Enter artwork" />
  <button (click)="search()">Search</button>
  <div *ngIf="response">
    <p>{{ response.data.title }}</p>
  </div>
  <router-outlet></router-outlet>
</div>
