<div>
  <nav class="nav">
    <a
      routerLink=""
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >

    <a routerLink="/category" class="nav-link" routerLinkActive="active"
      >Category</a
    >
    <a routerLink="/author" class="nav-link" routerLinkActive="active"
      >Author</a
    >
  </nav>
  <input type="text" [(ngModel)]="artworksName" placeholder="Enter artwork" />
  <button (click)="search()">Search</button>

  <div *ngIf="response">
    <p>{{ response.data.title }}</p>
  </div>
  <router-outlet></router-outlet>
</div>
