<div>
  <button routerLink="">X</button>

  <ul class="list">
    <li *ngFor="let item of details">
      <img
        src="https://www.artic.edu/iiif/2/{{
          item.image_id
        }}/full/843,/0/default.jpg"
        alt="art"
        width="400"
      />
      <h3>{{ item.title }}</h3>
      <p>{{ item.date_display }}</p>
      <p>{{ item.inscriptions }}</p>
    </li>
  </ul>
</div>
<!-- <div *ngIf="art$ | async as art; else loading">
  <p>{{ art.title }}</p>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template> -->
